
#body_plugin_csv_import .info       {color: #88F; background-color: #CCF;}
#body_plugin_csv_import .error      {color: #F00; background-color: #FCC;}
#body_plugin_csv_import .warning    {color: #F80; background-color: #FDA;}
#body_plugin_csv_import .success    {color: #080; background-color: #CFC;}


#body_plugin_csv_import table.preview td {background: #EEE; border: 1px solid #888;}
#body_plugin_csv_import table.preview td.required {background: orange; }
#body_plugin_csv_import table.preview td.empty {background: #CCC; }
#body_plugin_csv_import table.preview td.required.empty {background: red; }

#body_plugin_csv_import table.preview th {background: #bbb; border: 1px solid #888;}
#body_plugin_csv_import table.preview th.importable {background: green; border: 1px solid #888;}
#body_plugin_csv_import table.preview th.invalid {background: red; border: 1px solid #888;}
#body_plugin_csv_import label { text-align: right; width: 100%; display: block}

#raw-preview-container,
#table-preview-container {
    max-height: 240px;
    min-height: 40px;
    overflow: auto;
    padding: 4px 8px;
}

#raw-preview-container {
    background-color: #DDD;
    max-height: 80px;
    min-height: 32px;
}

